
*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

li{
    list-style: none;
}

ul{
    margin-top: 20px;
    display: inline-flex;
}

a{
    color: black;
    text-decoration: none;
}


.headerLi{
    margin: 30px;
    font-size: larger;
}

.h3Header{
    padding: 5px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #9E3750;
    width: 70px;
    text-align: center;
    height: 24px;
    cursor: pointer;
}

.h3Header:hover{
    background-color: #9E3750;
}

